
.main{
    height:100%;
    font-family: 'Montserrat', sans-serif;
}
.main_row{
    height: 100%;
}

/*Vessel Col*/
.vessel_info {
    text-align: center;
    height: 100%;
}
.vessel_item img{
    display: inline-block;
    width: 30px;
    margin-right: 7px;
}

/*Payment Col*/
.payment {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

.btn_row button{
    margin-top: 30px;
}




/* Payment Form */
.payment_form{
    width: 60%;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }