<!--Boot Strap is Imported to Quicken UI Design-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://js.stripe.com/v3/"></script>







<div class = 'container-fluid main h-100'>
  <div class = 'row main_row'>
    <!--Vessel Information is Displayed in This Column-->
    <div class="col-3 vessel_info border-right">
      <h3 class = 'center'>Account</h3>
      <div class = 'vessel_info'>
          <ul class = 'list-group'>
              <li class = 'list-group-item vessel_item'><img src='assets/user.svg' class = 'img-responsive'> {{ user_name }}</li>
              <li class = 'list-group-item vessel_item'><img src='assets/boat.svg' class = 'img-responsive'> {{ vessel_type }}</li>
              <li class = 'list-group-item vessel_item'><img src='assets/id.svg' class = 'img-responsive'> {{ device_id }}</li>
              <li class = 'list-group-item vessel_item'><img src='assets/cards.svg' class = 'img-responsive'> {{ current_sub }}</li>
            </ul>
      </div>
    </div>
    <!--Payment Info is Displayed in This Column-->
    <div class="col payment">
      <h1 class = 'h1-center'>Subscription</h1>

      <div class='container-fluid payment_form'>

        <form>
          <div class="form-group">
              <label for="cardNumber">CARD NUMBER</label>
              <div class="input-group">
                  <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                      <label>EXPIRY DATE</label>
                    <div class='row'>
                      <div class="col">
                          <input type="text" class="form-control inline" name='expMonth' placeholder="MM" required />
                      </div>
                      <div class="col">
                          <input type="text" class="form-control inline" name = "expYear" placeholder="YY" required />
                        </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                      <label for="cvCode">
                          CV CODE</label>
                      <input type="password" class="form-control" name="cvc" placeholder="CV" required />
                  </div>
              </div>
          </div>
          <button (click)="chargeCreditCard()" class = 'btn btn-primary btn-block'>Purchase</button>
        </form>
        <div class="row btn_row">
          <div class="col">
              <button (click)="chargeCreditCard()" class = 'btn btn-primary btn-block btn-success'>Renew</button>
          </div>
          <div class="col">
              <button (click)="chargeCreditCard()" class = 'btn btn-primary btn-block btn-warning'>Pause</button>
          </div>
          <div class="col">
              <button (click)="chargeCreditCard()" class = 'btn btn-primary btn-block btn-danger'>Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

